{% extends 'base.html' %}





{% block content %}
{%block body%}
{%endblock%}


<!-- component -->
<!-- MDI Icons -->
<link rel="stylesheet" href="https://cdn.materialdesignicons.com/6.5.95/css/materialdesignicons.min.css">



{% if session['user']%}  
<!-- Container -->
<div class="flex items-end justify-center ">
	<div class="fixed bottom-10 z-50">
		<div>
			<!-- Navigation Bar -->
			<div class="px-5 pt-3  bg-[#000300] border-2 border-emerald-400  lg:pt-2 shadow-lg rounded-2xl">
				<div class="flex flex-row space-x-3 lg:space-x-8 ">
					<!-- Item #1 -->
					<div class="flex group">
						<a href="{{url_for('index')}}" class="p-3 text-gray-400 hover:text-emerald-400">
							<span class="flex flex-col items-center">
								<!-- Icon -->
								<i class="mdi mdi-home-outline mdi-24px mx-1 text-emerald-400 group-hover:text-emerald-400
									transition-color duration-200"></i>

								<!-- Text -->
								<span class="text-xs mb-2 transition-all duration-200">
									Inicio
								</span>

								<!-- Focus Dot -->
								<span class="h-2 w-2 rounded-full group-hover:bg-emerald-500
									transition-all duration-150 delay-100"></span>
							</span>
						</a>
					</div>

					<!-- Item #2 -->
					<div class="flex group">
						<a href="{{url_for('news')}}" class="p-3 text-gray-400 hover:text-emerald-400">
							<span class="flex flex-col items-center">
								<!-- Icon -->
								<i class="mdi mdi-compass-outline mdi-24px mx-1 text-emerald-400 group-hover:text-emerald-400
									transition-color duration-200"></i>

								<!-- Text -->
								<span class="text-xs mb-2 transition-all duration-200">
									Aprende
								</span>

								<!-- Focus Dot -->
								<span class="h-2 w-2 rounded-full group-hover:bg-emerald-500
									transition-all duration-150 delay-100"></span>
							</span>
						</a>
					</div>

					<!-- Item #3 Active -->
					<div class="flex group">
						<a href="{{url_for('meeting')}}" class="p-3 text-gray-400 hover:text-emerald-400">
							<span class="flex flex-col items-center">
								<!-- Icon -->
								<i class="mdi mdi-layers-outline mdi-24px mx-1 text-emerald-400 group-hover:text-emerald-400
									transition-color duration-200"></i>

								<!-- Text -->
								<span class="text-xs mb-2 transition-all duration-200">
									Reuniones
								</span>

								<span class="h-2 w-2 rounded-full group-hover:bg-emerald-500
								transition-all duration-150 delay-100"></span>
							</span>
						</a>
					</div>

					<!-- Item #5 -->
					<div class="flex group">
						<a href="{{url_for('perfil')}}" class="p-3 text-gray-400 hover:text-emerald-400">
							<span class="flex flex-col items-center">
								<!-- Icon -->
								<i class="mdi mdi-account-circle-outline mdi-24px mx-1 text-emerald-400 group-hover:text-emerald-400
									transition-color duration-200"></i>

								<!-- Text -->
								<span class="text-xs mb-2 transition-all duration-200">
									Perfil
								</span>

								<!-- Focus Dot -->
								<span class="h-2 w-2 rounded-full group-hover:bg-emerald-500
									transition-all duration-150 delay-100"></span>
							</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endif %}

<!-- {% if session_user %}
<h1>Bienvenido {{session_user}}</h1>
{% else %}
<h1>Logueate para más contenido</h1>
{% endif %} -->

{% endblock %}