{% extends 'index.html'%}



{%block body%}

<h1 class="text-emerald-400 my-10 font-bold text-2xl text-center">¡Aprende con mi App!</h1>
<div id="content-filter" class="w-full flex items-center justify-center gap-3 h-15 mb-14">
    <button onclick='getFilter("todo")' id="todoBtn" class="py-2 px-6 text-white border-2 border-emerald-400 rounded-md ">Todo</button>
    <button onclick='getFilter("canto")' id="cantoBtn" class="py-2 px-6 text-white border-2 border-emerald-400 rounded-md">Canto</button>
    <button onclick='getFilter("musico")' id="musicoBtn" class="py-2 px-6 text-white border-2 border-emerald-400 rounded-md " >Músicos</button>
</div>

<section id="news-content">

</section>


<br><br><br>


<script>
    let news = {{ news| tojson | safe}}
    let newContent = document.getElementById('news-content')
    let cantoBtn = document.getElementById('cantoBtn')
    let musicoBtn = document.getElementById('musicoBtn')
    let todoBtn = document.getElementById('todoBtn')

    document.addEventListener("DOMContentLoaded", () => {
    
        newContent.innerHTML = ""
        news.map((el) => {
            
                let newCard = document.createElement('section')
                newCard.classList.add(el.categoria, "hidden","flex","p-5","mb-10","justify-center")
                newCard.innerHTML = `<div class=" w-full min- overflow-hidden shadow-2xl p-5 rounded-xl bg-[#1f1d1d] border-2 border-emerald-400">
                    <iframe  src="https://www.youtube.com/embed/${el.id_video}?si=rm-0-LJfpAxEehhL" title="YouTube video player" frameborder="0" allow="accelerometer; encrypted-media; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen class="w-full h-64 mb-3" ></iframe>
                    <h1 class="text-emerald-400 font-bold text-lg mb-4">${el.titulo}</h1>
                    <p class="text-stone-200 mb-3">${el.descripcion}</p>
                    <span class="text-md text-emerald-600">${el.categoria}</span>
                </div>`
                newContent.appendChild(newCard)
        
            })
        getFilter("todo")
    })

        

      
    function getFilter(cat){

        let contentsCanto = document.querySelectorAll('.canto')
        let contentsMusico = document.querySelectorAll('.musico')
        let contentsTodo = document.querySelectorAll('.todo')
        
        if (cat == 'todo'){
            todoBtn.classList.add('bg-emerald-400')
            cantoBtn.classList.remove('bg-emerald-400')
            musicoBtn.classList.remove('bg-emerald-400')
            contentsTodo.forEach((el) => el.classList.remove('hidden') )
            contentsCanto.forEach((el) => el.classList.remove('hidden') )
            contentsMusico.forEach((el) => el.classList.remove('hidden') )

        }else if(cat == 'musico'){
            musicoBtn.classList.add('bg-emerald-400')
            cantoBtn.classList.remove('bg-emerald-400')
            todoBtn.classList.remove('bg-emerald-400')
            contentsMusico.forEach((el) => el.classList.remove('hidden') )
            contentsCanto.forEach((el) => el.classList.add('hidden') )
            contentsTodo.forEach((el) => el.classList.add('hidden') )

        }else if (cat == 'canto'){
            musicoBtn.classList.remove('bg-emerald-400')
            cantoBtn.classList.add('bg-emerald-400')
            todoBtn.classList.remove('bg-emerald-400')
            contentsCanto.forEach((el) => el.classList.remove('hidden') )
            contentsMusico.forEach((el) => el.classList.add('hidden') )
            contentsTodo.forEach((el) => el.classList.add('hidden') )

        }


    }


    /*function getFilter(cat="todo"){
        if (cat == 'todo'){
            newContent.innerHTML = ""
            news.map((el) => {
            
                let newCard = document.createElement('section')
                newCard.classList.add("flex","p-5","mb-10","justify-center")
                newCard.innerHTML = `<div class="w-full min- overflow-hidden shadow-2xl p-5 rounded-xl bg-[#1f1d1d] border-2 border-emerald-400">
                    <iframe  src="https://www.youtube.com/embed/${el.id_video}?si=rm-0-LJfpAxEehhL" title="YouTube video player" frameborder="0" allow="accelerometer; encrypted-media; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen class="w-full h-64 mb-3" ></iframe>
                    <h1 class="text-emerald-400 font-bold text-lg mb-4">${el.titulo}</h1>
                    <p class="text-stone-200">${el.descripcion}</p>
                </div>`
                newContent.appendChild(newCard)
        
            })
        }else if(cat=='canto'){
                newContent.innerHTML = ""
                let canto = news.filter((el) => el.categoria == 'canto')
                canto.map((el) => {
                
                    let newCard = document.createElement('section')
                    newCard.classList.add("flex","p-5","mb-10","justify-center")
                    newCard.innerHTML = `<div class="w-full min- overflow-hidden shadow-2xl p-5 rounded-xl bg-[#1f1d1d] border-2 border-emerald-400">
                        <iframe  src="https://www.youtube.com/embed/${el.id_video}?si=rm-0-LJfpAxEehhL" title="YouTube video player" frameborder="0" allow="accelerometer; encrypted-media; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen class="w-full h-64 mb-3" ></iframe>
                        <h1 class="text-emerald-400 font-bold text-lg mb-4">${el.titulo}</h1>
                        <p class="text-stone-200">${el.descripcion}</p>
                    </div>`
                    newContent.appendChild(newCard)
            
                })
            
        }else if(cat=='musica'){
                newContent.innerHTML = ""
                let musico = news.filter((el) => el.categoria == 'musico')
                musico.map((el) => {
                
                    let newCard = document.createElement('section')
                    newCard.classList.add("flex","p-5","mb-10","justify-center")
                    newCard.innerHTML = `<div class="w-full min- overflow-hidden shadow-2xl p-5 rounded-xl bg-[#1f1d1d] border-2 border-emerald-400">
                        <iframe  src="https://www.youtube.com/embed/${el.id_video}?si=rm-0-LJfpAxEehhL" title="YouTube video player" frameborder="0" allow="accelerometer; encrypted-media; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen class="w-full h-64 mb-3" ></iframe>
                        <h1 class="text-emerald-400 font-bold text-lg mb-4">${el.titulo}</h1>
                        <p class="text-stone-200">${el.descripcion}</p>
                    </div>`
                    newContent.appendChild(newCard)
            
                })
            
        }



    }*/

    
    
</script>

{%endblock%}